<footer class="w-full p-2 bg-gray-500">
    <div class="flex justify-center items-center p-2 gap-10">

        <a href="/" target="_blank">
            <ion-icon name="logo-github" class="text-4xl hover:text-white"></ion-icon>
        </a>
        <a href="/" target="_blank">
            <ion-icon name="logo-linkedin" class="text-4xl hover:text-white"></ion-icon>
        </a>
        <a href="/" target="_blank">
            <ion-icon name="logo-youtube" class="text-4xl hover:text-white"></ion-icon>
        </a>

    </div>

    <div class="p-1 text-center text-2xl hover:text-white">
        <small translate="no"> Projeto Criado Por Darlene Moura e Fernando Medeiros.</small>
    </div>
</footer>